{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}

    <form class="section" action="/compare_between_data" method="POST">
        
        <label>Compare between : </label> <br>
        
        {% if data_list %}
            

                <select name="data_id_1">
                    {% for i in data_list %}
                        <option value="{{ i[0] }}">{{ i[3] }}</option>
                    {% endfor %}
                </select>
                
                <h3>AND</h3>
                
                <select name="data_id_2">
                    {% for i in data_list %}
                        <option value="{{ i[0] }}">{{ i[3] }}</option>
                        {% endfor %}
                </select> <br> <br>
            
            

        {% endif %}

        <button type="submit" name="compare_in" value="table">In Tables</button>
    
        <button type="submit" name="compare_in" value="graph">In Graphs</button>
    
    </form>

    

{% endblock %}