{% extends "layout.html" %}

{% block title %}
    Support Form
{% endblock %}

{% block header %}
    Support Form
{% endblock %}

{% block main %}
    
    <form action="/support_form" method="post" class="section">

        <div  class="section">
            <input autocomplete="off" autofocus name="subject" placeholder="Subject" type="text" required>
        </div>

        <div class="section">
            <label>Description : </label>
        </div>

        <div  class="section">
            <textarea name="description" rows="4" cols="50" required></textarea>
        </div>

        <button type="submit">Submit ticket</button>

    </form>

{% endblock %}